@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We are currently unable to collect your data. Therefore, all data stays inside your computer</p>
