html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-image: url('/Content/Images/background-light-leaf.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 60px;
}