@inject IHttpContextAccessor context
@using NOTEA.Models.UserModels;
@model UserModel

@{
    ViewData["Title"] = "Log In";
    if (context.HttpContext.Session.GetString("User") != null)
    {
        context.HttpContext.Response.Redirect("/Home/Index");
    }
}
<p></p>
<div style="float:right">
    If you do not own an account yet
    <input type="submit" onclick="location.href='@Url.Action("SignIn","User")'" value="Sign In" />
</div>
<h1>Log In</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="User" asp-action="LogIn">
            <div class="form-group">
                <label asp-for="Username" class="control-label">Username</label><br />
                <input id="Username" name="Username" type="text" value="" /><br />
                <label asp-for="Password" class="control-label">Password</label><br />
                <input id="Password" name="Password" type="password" value="" /><br />
            </div>
            <p></p>
            <div class="form-group">
                <input type="submit" onclick="JavascriptFunction()" value="Log in" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
    top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001;
    opacity: .8; filter: alpha(opacity=70);display:none">
    <p style="position: absolute; top: 30%; left: 45%; color: White;">
        Loading, please wait...  <img src="../../Content/images/ajax-loading.gif">
    </p>
</div>


<style>
    .btn-primary,
    .btn-primary:hover,
    .btn-primary:active,
    .btn-primary:visited,
    .btn-primary:focus {
        background-color: #FFECE4;
        border-color: #FFECE4;
        color: black;
    }

    button[class="btn btn-primary"] {
        background-color: #708471;
        border: none;
        color: white;
        padding: 2px 5px;
        text-decoration: none;
        margin: 1px 1px;
        cursor: pointer;
    }

    input[type=button], input[type=submit], input[type=reset] {
        background-color: #708471;
        border: none;
        color: white;
        padding: 2px 5px;
        text-decoration: none;
        margin: 1px 1px;
        cursor: pointer;
    }
</style>


<!-- Error Message Modal -->
<div class="modal fade" id="myModalError" tabindex="-1" role="dialog" aria-labelledby="myModalErrorLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #ff6b6b; color: black;">
                <h5 class="modal-title" id="myModalErrorLabel">Oops...</h5>
            </div>
            <div class="modal-body">
                <div id="MyModalErrorAlertBody">
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        function openSuccessModal(strMessage) {
            var myDiv = document.getElementById("MyModalSuccessAlertBody");
            myDiv.innerHTML = strMessage;
            $('#myModalSuccess').modal('show');
        }
        $(document).ready(function () {
            var msg = "@TempData["SuccessMessage"]";
            if (msg)
                openSuccessModal(msg);
        });
    </script>

    <script type="text/javascript">
        function openErrorModal(errorMessage) {
            var errorDiv = document.getElementById("MyModalErrorAlertBody");
            errorDiv.innerHTML = errorMessage;
            $('#myModalError').modal('show');
        }

        $(document).ready(function () {
            var errorMsg = "@TempData["ErrorMessage"]";
            if (errorMsg)
                openErrorModal(errorMsg);
        });
    </script>

    <script type="text/javascript" language="javascript">
        function JavascriptFunction() {
            var url = '@Url.Action("Index", "Home")';
            $("#divLoading").show();
            $.post(url, null,
                function (data) {
                    $("#PID")[0].innerHTML = data;
                    $("#divLoading").hide();
                });
        }
    </script>
}
