@model NOTEA.Models.UserModel

@{
    ViewData["Title"] = "Log In";
}

<h1>Log In</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="User" asp-action="LogIn">
            <div class="form-group">
                <label asp-for="Username" class="control-label">Username</label><br />
                <input id="username" name="username" type="text" value="" /><br />
                <label asp-for="Password" class="control-label">Password</label><br />
                <input id="Password" name="Password" type="password" value="" /><br />
            </div>
            <p></p>
            <div class="form-group">
                <input type="submit" value="Log in" class="btn btn-primary" />
               @*  <input type="submit" onclick="location.href='@Url.Action("Index","Home")'" value="Log in" /> *@
            </div>
        </form>
    </div>
</div>

<!-- Error Message Modal -->
<div class="modal fade" id="myModalError" tabindex="-1" role="dialog" aria-labelledby="myModalErrorLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #ff6b6b; color: black;">
                <h5 class="modal-title" id="myModalErrorLabel">Oops...</h5>
            </div>
            <div class="modal-body">
                <div id="MyModalErrorAlertBody">
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        function openSuccessModal(strMessage) {
            var myDiv = document.getElementById("MyModalSuccessAlertBody");
            myDiv.innerHTML = strMessage;
            $('#myModalSuccess').modal('show');
        }
        $(document).ready(function () {
            var msg = "@TempData["SuccessMessage"]";
            if (msg)
                openSuccessModal(msg);
        });
    </script>

    <script type="text/javascript">
        function openErrorModal(errorMessage) {
            var errorDiv = document.getElementById("MyModalErrorAlertBody");
            errorDiv.innerHTML = errorMessage;
            $('#myModalError').modal('show');
        }

        $(document).ready(function () {
            var errorMsg = "@TempData["ErrorMessage"]";
            if (errorMsg)
                openErrorModal(errorMsg);
        });
    </script>
}
