@model NOTEA.Models.ConspectModel


@{
    ViewData["Title"] = "Create conspects";
}

<h1>CreateConspects</h1>

<h4>ConspectModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
       @*  <form asp-action="CreateConspects">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form> *@
        @* <form asp-controller="Home" asp-action="Save">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form> *@
        @Html.TextAreaFor(m => m.Date)
        @Html.TextAreaFor(m => m.Name)
        @Html.TextAreaFor(m => m.ConspectText)
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
