@inject IHttpContextAccessor context
@{
    ViewData["Title"] = "Home Page";
    if (context.HttpContext.Session.GetString("User") == null ) 
    {
        context.HttpContext.Response.Redirect("/User/LogIn");
    }
}

<div class="text-center">
    <h1 class="display-4">Welcome to Notea!</h1>
    <p>Let us keep your study notes organised!</p>
    <p>Try it now!</p>
    <input type="submit" onclick="location.href='@Url.Action("CreateConspects","Conspect")'" value="Create my new conspect" />
</div>
