@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Notea!</h1>
    <p>Let us keep your study notes organised!</p>
    <p>Try it now!</p>
    <input type="submit" onclick="location.href='@Url.Action("CreateConspects","Home")'" value="Create my new conspect" />
</div>
