@inject IHttpContextAccessor context
@{
    ViewData["Title"] = "Privacy Policy";
    if (context.HttpContext.Session.GetString("User") == null)
    {
        context.HttpContext.Response.Redirect("/User/LogIn");
    }
}
<h1>@ViewData["Title"]</h1>

<p>Privacy policy is coming soon!</p>