@model NOTEA.Models.ConspectListModel
 
@{
    ViewData["Title"] = "Conspect list";
}

<h1>The list of conspects</h1>

<table class="table">
    <tbody>
        @foreach (ConspectModel conspectModel in Model.conspects)
        {
            <tr>
                <td>
                    @conspectModel.Name
                </td>
                <td>
                    @conspectModel.Date
                </td>
            </tr>
        }
    </tbody>
</table>
