@model NOTEA.Models.ConspectListModel
 
@{
    ViewData["Title"] = "Conspect list";
}

<h1>The list of conspects</h1>

<input type="submit" onclick="location.href='@Url.Action("SortConspect","Conspect")'" value="Sort" />

<table class="table">
    <tbody>
        @foreach (ConspectModel conspectModel in Model.conspects)
        {
            <tr>
                <td>
                    <input type="submit" onclick="location.href='@Url.Action("ViewConspect","Conspect", new { name = conspectModel.Name, text = conspectModel.ConspectText })'" value=@conspectModel.Name />
                    
                </td>
                <td>
                    @conspectModel.Date
                </td>
            </tr>
        }
    </tbody>
</table>
