@model NOTEA.Models.ConspectModel

@{
    ViewData["Title"] = "Create conspects";
}

<h1>Create conspects</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Conspect" asp-action="CreateConspects">
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name</label>
                <input asp-for="Name" class="form-control" />
                <label asp-for="ConspectText" class="control-label">Text</label>
                <textarea  asp-for="ConspectText" cols="150" rows="20"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        function openSuccessModal(strMessage) {
            var myDiv = document.getElementById("MyModalSuccessAlertBody");
            myDiv.innerHTML = strMessage;
            $('#myModalSuccess').modal('show');
        }
        $(document).ready(function () {
            var msg = "@TempData["SuccessMessage"]";
            if (msg)
                openSuccessModal(msg);
        });
    </script>
}
