@model NOTEA.Models.ConspectModel

@{
    ViewData["Title"] = "ViewConspect";
}

<style>
div .text-wrapping{
    word-wrap: normal;
    white-space: pre;
    white-space: pre-wrap; 
} 
</style>

<h1>@Model.Name</h1>

<div class="text-wrapping">
    <p>@Model.ConspectText</p>
</div>
<div>
    <a asp-action="ConspectList">Back to List</a>
</div>

